name: Maven build & test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: 11

    - name: Build & Test with Maven
      run: mvn -B package

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to Dockerhub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Docker meta
      id: docker_meta
      uses: crazy-max/ghaction-docker-meta@v2
      with:
        images: ${{ secrets.DOCKERHUB_USERNAME }}/sosc-2022-demo
        tags: |
          type=sha
          type=semver,pattern={{raw}}
          type=ref,event=branch
    - name: Build & Push image
      uses: docker/build-push-action@v2
      with:
        context: .
        file: docker/Dockerfile
        push: ${{ startsWith(github.ref, 'refs/tags/') }}
        tags: ${{ steps.docker_meta.outputs.tags }}
        labels: ${{ steps.docker_meta.outputs.labels }}
